[Desktop Entry]
Name=RGB Controller
Comment=Control system RGB lighting effects
Icon=preferences-desktop-color
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=rgb_controller_kcm
X-KDE-PluginKeyword=rgb-controller
X-KDE-PluginInfo-Name=rgb_controller_kcm
X-KDE-PluginInfo-Category=Hardware
X-KDE-PluginInfo-Author=Jan Hellion
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-EnabledByDefault=true
